body {
  background-color: $color-bg;
}

.navbar-brand {
  transition: all ease-in-out 100ms;
  font-family: $font-typewriter;

  i {
    color: $color-pink;
    opacity: .69;
  }
}

.font-typewriter {
  font-family: $font-typewriter !important;
}

.btn-disabled {
  cursor: initial;
}

.dashboard-user-icon {
  font-size: 2.5rem;
}

.dashboard-article-icons {
  list-style: none;

  li {
    display: inline-block;

    a {
      color: inherit;
    }
  }
}