body {
  background-color: $color-bg;
}

.navbar-brand {
  transition: all ease-in-out 100ms;
  font-family: $font-typewriter;

  i {
    color: $color-pink;
    opacity: .69;
  }
}

.dashboard-article-icons {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    
    &:first-child {
      font-size: 2.5rem;
    }

    a {
      color: inherit;
    }
  }
}